@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #2f2f2f;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
}

.main-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 95% 5%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "nav main" "nav footer";
}

.nav {
    grid-area: nav;
    background-color: #222222;
    padding: 2.5rem 1rem;
    font-size: 1.5rem;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
}

li {
    list-style: none;
    padding: 1rem;
    margin: 0.1em;
    border-radius: 1rem;
}

li:hover {
    background-color: #2f2f2f;
}

li i {
    margin-right: 1rem;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: #333333;
}


/* 
Notification stuff
*/

#notif_container {
    height: 80vh;
    position: fixed;
    z-index: 500;
    right: 2.5rem;
    top: 2.5rem;
}

.notif_bubble {
    height: 5rem;
    width: 10rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas: "notif_bubble_title" "notif_bubble_inner";
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
    animation: animation_error 1s ease 0s 1 normal forwards;
}

.notif_bubble_title {
    grid-area: notif_bubble_title;
    font-size: 1.2rem;
}

.notif_bubble_inner {
    grid-area: notif_bubble_inner;
}

.notif_bubble_warning {
    background-color: #880000;
}

.notif_bubble_neutral {
    background-color: #232368;
}

.notif_bubble_good {
    background-color: #008800;
}

@keyframes animation_error {
    0% {
        opacity: 0;
        transform: translateX(5rem);
        display: block;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animation_error_out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(5rem);
        display: block;
    }
}