@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #2f2f2f;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
}

.main-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 95% 5%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "nav main" "nav footer";
}

.nav {
    grid-area: nav;
    background-color: #222222;
    padding: 2.5rem 1rem;
    font-size: 1.5rem;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
}

li {
    list-style: none;
    padding: 1rem;
    margin: 0.1em;
    border-radius: 1rem;
}

li:hover {
    background-color: #2f2f2f;
}

li i {
    margin-right: 1rem;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: #333333;
}